/*
Couleur de Foucauld : 
    vert : #17A2B8
    bleu : #17A2B8
    moutarde : #FBC00E
    gris : #D2D2D2
*/

body {
	background-color: #D2D2D2;
}

p {
	font-size: 15px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
}

h2 {
  color:#17A2B8;
  text-align: left; 
  padding-left:2%;
}

.inputBlue {
	padding: 7px 23px;
	font-size: 14px;
	border-radius: 18px;
	background-color: #17A2B8;
	color: white;
}

/*
.btnIcone {
  padding: 7px 23px;
	border :none;
  background-color: #ebf5ff;
}*/

th {
  color:#D5DDE5;
  background:#17A2B8;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:15px;
  font-weight: 100;
  padding:18px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

td {
	width: 10%;
	text-align: center;
}

tr {
	background:#ebf5ff;
	text-align: center;
	
}

label {
  color: #17A2B8;
  text-align: left;
}

/*
.Tbutton {
	background-color: #e22626;
    border: none;
    color: white;
    padding: 35px 93px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: auto;
    cursor: pointer;
    border: 1px solid #45464d;
    border-radius: 4px;
}
*/


div.menu {
    position: fixed;
    width: 9%;
    height : 100%;
    left: 10px;
    top: 0px;
    background-color: #17A2B8;
    color: white;

}

/*
div.contenu {
	background-color:white; 
    position: absolute;
    left: 10%;
    right: 0%;
    top: 40px;
    width: 88%;
    color: #17A2B8;
    margin: 0;
    font-size: 125%;
}
*/

div.contenu2 {
    position: absolute;
    left: 10%;
    right: 0%;
    top: 40px;
    width: 88%;
    color: #17A2B8;
    margin: 0;
    font-size: 125%;
    background-color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    /* border-radius: 25%; */
    border : none;
}

.flex-container {
  background-color: #F4F7F8;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* margin: 1em; */
}

.item {
  margin: 1em;
  padding: 0.5em;
  width: 200px;
  min-width: 0;
  color: white;
  font-family: monospace;
}

.auto {
  flex: auto;
}
/* Fin gros Bouton d'inscription */


.tete {
    position: relative;
    width: 100%;
    height : 12%;
    left: 0px;
    top: 0px
}

.logo {
    position: relative;
    width: 10%;
    height: 10%;
    margin-left: 91%;
    top: 0px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  color: #17A2B8;
  background-color: #D2D2D2;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}


/* gros Bouton d'inscription */
.myButton {
    width: 200px;
	box-shadow: 3px 2px 0px 1px #102e2e;
	background:linear-gradient(to bottom, #205f5f 5%, #17A2B8 100%);
	background-color:#79bbff;
	border-radius:42px;
	border:1px solid #102e2e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:32px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #17A2B8 5%, #205f5f 100%);
	background-color:#17A2B8;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonDesactive {
  width: 200px;
	background-color:black;
	border-radius:42px;
	border:1px solid #102e2e;
	display:inline-block;
	cursor:pointer;
	color:#17A2B8;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:32px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #D2D2D2;
}
/* Fin gros Bouton d'inscription */
/*
.tet{
  width: 34%;
  height: 13%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }
  */
  
  #container{
      width:461px;
      margin:0 auto;
      margin-top:10%;
  }
  
  /* Bordered form */
  
  .formConnexion {
      width:100%;
      padding: 30px;
      border: 1px solid #f1f1f1;
      background: #fff;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 17%;
  }

  #container h1{
      width: 38%;
      margin: 0 auto;
      padding-bottom: 10px;
  }
  
  /* Full-width inputs */
    input[type=text], input[type=password], input[type=date], input[type=number], input[type=file] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
input[type=button] {
    background-color: #17A2B8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: white;
    color: #17A2B8;
    border: 1px solid #17A2B8;
}

input[type=submit] {
  background-color: #17A2B8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}

input[type=submit]:hover {
  background-color: white;
  color: #17A2B8;
  border: 1px solid #17A2B8;
}

button, .button {
  padding: 5px 15px;
  margin: 3px 4px;
  display: inline-block;
  color: #000000;
  font-size: 12px;
  cursor: pointer;
  background: #FFFFFF;
  background: linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  background: -moz-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.50);
}
button:hover, .button:hover {
  background: linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #FFFFFF 100%);
}

button:active, .button:active{
  opacity:0.8;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}